In [2]:
#task 2 You will have to scrape 3 things from the job:
#1. Job position (Game Designer)
#2. Company offering the Job
#3. Location of the Job (City or remote)

#scraping jobs from linkedin using selenium and chrome driver since it cannot be done using requests lib 
#and beautifulsoup is also been used for creating object and scraping through the html tag and class
#import required 
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

# Creating a webdriver instance
driver = webdriver.Chrome("/usr/local/bin/chromedriver")
# This instance will be used to locate job's page on LinkedIn 

# Opening linkedIn's job page
driver.get("https://www.linkedin.com/jobs/search/?geoId=102713980&keywords=game%20designer&location=India")

# waiting for the page to load
time.sleep(5)

<ipython-input-2-0080ec7548c7>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("/usr/local/bin/chromedriver")

In [4]:
#create a BeautifulSoup object to scrape the data 
#specifying a desired format of “job_src” using the lxml parser - this allows python 
#to read the various components of the page, rather than treating it as one long string.
job_src = driver.page_source

soup = BeautifulSoup(job_src, 'lxml')

In [5]:
#On inspecting the HTML of this page, we will find that each Job Title has the class name “screen-reader-text”
#and 'span' html tag .
#We will use this class name and html tag to extract the job titles.
#then I have created an empty list and then append all the job titles in it/
jobs_html = soup.find_all('span', {'class': 'screen-reader-text'})
# In case of an error, try changing the XPath.

job_titles = []

for title in jobs_html:
	job_titles.append(title.text.strip())

print(job_titles)
len(job_titles)

['Game Designer', 'Associate Designer', 'Game Designer - 100% Remote working role', 'Game Designer 1', 'Game Designer', 'Game Designer(Slots)', 'Game Designer', 'Kids Game Designer', 'Game Designer II', 'Game Designer (PC or Console)', 'Game Designer', 'Game Designer', 'Game designer', 'Visual Designer', 'Game Designer', 'Game Designer', 'Game Designer', 'Game Designer', 'Toy & Game Designer | Arts & Animation', 'Game Designer', 'Game Designer II', 'Game Designer', 'Game Designer II', 'Graphics Designer']

24

In [6]:
#similarly for scraping company name , it is with 'a' html tag and with class 'hidden-nested-link'. 
#we have used this for scraping and then finally storing all the companies in list.
job_company= soup.find_all('a',class_='hidden-nested-link')
job_Companies  = []

for company in job_company:
	job_Companies.append(company.text.strip())

print(job_Companies)
len(job_Companies)

['Unacademy', 'Walmart Global Tech India', 'Cympl Studios', 'Glu Mobile', 'Buffbaer Pvt Ltd', 'Zynga', 'Reliance Games', 'Photon Tadpole Studios', 'Glu Mobile', 'Tentworks Interactive', 'PerspectAI', 'Flick Games Official', 'Frigate Games', 'IBM', 'GameAnax', 'NokOut Interactive', 'PlayerzPot Media Pvt Ltd', 'Zynga', 'WhiteHat Jr', 'GodSpeed Games', 'EA Mobile', 'GSN Games', 'EA SPORTS', 'Xiaomi India']

24

In [10]:
#similarly finding job location with find method and using html 'span ' tag and class 'job-search-card__location'
job_location= soup.find('span',class_="job-search-card__location")

In [17]:
job_location.text.strip()

'Bengaluru, Karnataka, India'

In [19]:
#now scpared all the locations of all the jobs with the same html tag and class using find all method.
job_locations= soup.find_all('span',class_="job-search-card__location")

In [16]:
job_locations

[<span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Bangalore Urban, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Pune, Maharashtra, India
           </span>,
 <span class="job-search-card__location">
             India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Ahmedabad, Gujarat, India
           </span>,
 <span class="job-search-card__location">
             Ahmedabad, Gujarat, India
           </span>,
 <span class="job-search-card__location">
             Chennai, Tamil Nadu, India
           </span>,
 <span class="job-search-card__location">
             Mumbai, Maharashtra, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Bangalore Urban, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Pune, Maharashtra, India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>,
 <span class="job-search-card__location">
             Mumbai, Maharashtra, India
           </span>,
 <span class="job-search-card__location">
             Hyderabad, Telangana, India
           </span>,
 <span class="job-search-card__location">
             Bengaluru, Karnataka, India
           </span>]

In [24]:
#coverted list into string 
listToStr = ' '.join([str(elem) for elem in job_locations])
  
print(listToStr)

<span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Bangalore Urban, Karnataka, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            Pune, Maharashtra, India
          </span> <span class="job-search-card__location">
            India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Ahmedabad, Gujarat, India
          </span> <span class="job-search-card__location">
            Ahmedabad, Gujarat, India
          </span> <span class="job-search-card__location">
            Chennai, Tamil Nadu, India
          </span> <span class="job-search-card__location">
            Mumbai, Maharashtra, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            Bangalore Urban, Karnataka, India
          </span> <span class="job-search-card__location">
            Pune, Maharashtra, India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span> <span class="job-search-card__location">
            Mumbai, Maharashtra, India
          </span> <span class="job-search-card__location">
            Hyderabad, Telangana, India
          </span> <span class="job-search-card__location">
            Bengaluru, Karnataka, India
          </span>

In [28]:
#removed the unwanted part 
l= listToStr.replace('</span> <span class="job-search-card__location">','')

In [29]:
l1= l.replace('<span class="job-search-card__location">\n','')

In [31]:
l1

'            Bengaluru, Karnataka, India\n          \n            Bengaluru, Karnataka, India\n          \n            India\n          \n            Hyderabad, Telangana, India\n          \n            Bangalore Urban, Karnataka, India\n          \n            Bengaluru, Karnataka, India\n          \n            Pune, Maharashtra, India\n          \n            India\n          \n            Hyderabad, Telangana, India\n          \n            Bengaluru, Karnataka, India\n          \n            Hyderabad, Telangana, India\n          \n            Hyderabad, Telangana, India\n          \n            Hyderabad, Telangana, India\n          \n            Ahmedabad, Gujarat, India\n          \n            Ahmedabad, Gujarat, India\n          \n            Chennai, Tamil Nadu, India\n          \n            Mumbai, Maharashtra, India\n          \n            Bengaluru, Karnataka, India\n          \n            Bangalore Urban, Karnataka, India\n          \n            Pune, Maharashtra, India\n          \n            Hyderabad, Telangana, India\n          \n            Bengaluru, Karnataka, India\n          \n            Mumbai, Maharashtra, India\n          \n            Hyderabad, Telangana, India\n          \n            Bengaluru, Karnataka, India\n          </span>'

In [33]:
l2= l1.replace('\n          \n           ','')
l2

'            Bengaluru, Karnataka, India Bengaluru, Karnataka, India India Hyderabad, Telangana, India Bangalore Urban, Karnataka, India Bengaluru, Karnataka, India Pune, Maharashtra, India India Hyderabad, Telangana, India Bengaluru, Karnataka, India Hyderabad, Telangana, India Hyderabad, Telangana, India Hyderabad, Telangana, India Ahmedabad, Gujarat, India Ahmedabad, Gujarat, India Chennai, Tamil Nadu, India Mumbai, Maharashtra, India Bengaluru, Karnataka, India Bangalore Urban, Karnataka, India Pune, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India Mumbai, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India\n          </span>'

In [34]:
l3 = l2.replace('\n          </span>','')

In [35]:
l3

'            Bengaluru, Karnataka, India Bengaluru, Karnataka, India India Hyderabad, Telangana, India Bangalore Urban, Karnataka, India Bengaluru, Karnataka, India Pune, Maharashtra, India India Hyderabad, Telangana, India Bengaluru, Karnataka, India Hyderabad, Telangana, India Hyderabad, Telangana, India Hyderabad, Telangana, India Ahmedabad, Gujarat, India Ahmedabad, Gujarat, India Chennai, Tamil Nadu, India Mumbai, Maharashtra, India Bengaluru, Karnataka, India Bangalore Urban, Karnataka, India Pune, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India Mumbai, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India'

In [40]:
l4 = l3.replace('            ','')
l4

'Bengaluru, Karnataka, India Bengaluru, Karnataka, India India Hyderabad, Telangana, India Bangalore Urban, Karnataka, India Bengaluru, Karnataka, India Pune, Maharashtra, India India Hyderabad, Telangana, India Bengaluru, Karnataka, India Hyderabad, Telangana, India Hyderabad, Telangana, India Hyderabad, Telangana, India Ahmedabad, Gujarat, India Ahmedabad, Gujarat, India Chennai, Tamil Nadu, India Mumbai, Maharashtra, India Bengaluru, Karnataka, India Bangalore Urban, Karnataka, India Pune, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India Mumbai, Maharashtra, India Hyderabad, Telangana, India Bengaluru, Karnataka, India'

In [41]:
#function to convert string to list
def Convert(string):
    li = list(string.split(" "))
    return li

In [43]:
#converting l4 string to list
locations = Convert(l4)

In [44]:
len(locations)

74

In [45]:
locations

['Bengaluru,',
 'Karnataka,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Bangalore',
 'Urban,',
 'Karnataka,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India',
 'Pune,',
 'Maharashtra,',
 'India',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Ahmedabad,',
 'Gujarat,',
 'India',
 'Ahmedabad,',
 'Gujarat,',
 'India',
 'Chennai,',
 'Tamil',
 'Nadu,',
 'India',
 'Mumbai,',
 'Maharashtra,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India',
 'Bangalore',
 'Urban,',
 'Karnataka,',
 'India',
 'Pune,',
 'Maharashtra,',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India',
 'Mumbai,',
 'Maharashtra,',
 'India',
 'Hyderabad,',
 'Telangana,',
 'India',
 'Bengaluru,',
 'Karnataka,',
 'India']

In [46]:
#created a data tuple and using zip  function zipped all the list together to create a pandas dataframe.
data_tuples = list(zip(job_titles,job_Companies,locations))

In [47]:
 # created a dataframe for creating a csv file.
df=pd.DataFrame(data_tuples, columns=['job-titles','companies','locations'])

In [48]:
df

,job-titles,companies,locations
0,Game Designer,Unacademy,"Bengaluru,"
1,Associate Designer,Walmart Global Tech India,"Karnataka,"
2,Game Designer - 100% Remote working role,Cympl Studios,India
3,Game Designer 1,Glu Mobile,"Bengaluru,"
4,Game Designer,Buffbaer Pvt Ltd,"Karnataka,"
5,Game Designer(Slots),Zynga,India
6,Game Designer,Reliance Games,India
7,Kids Game Designer,Photon Tadpole Studios,"Hyderabad,"
8,Game Designer II,Glu Mobile,"Telangana,"
9,Game Designer (PC or Console),Tentworks Interactive,India
10,Game Designer,PerspectAI,Bangalore
11,Game Designer,Flick Games Official,"Urban,"
12,Game designer,Frigate Games,"Karnataka,"
13,Visual Designer,IBM,India
14,Game Designer,GameAnax,"Bengaluru,"
15,Game Designer,NokOut Interactive,"Karnataka,"
16,Game Designer,PlayerzPot Media Pvt Ltd,India
17,Game Designer,Zynga,"Pune,"
18,Toy & Game Designer | Arts & Animation,WhiteHat Jr,"Maharashtra,"
19,Game Designer,GodSpeed Games,India
20,Game Designer II,EA Mobile,India
21,Game Designer,GSN Games,"Hyderabad,"
22,Game Designer II,EA SPORTS,"Telangana,"
23,Graphics Designer,Xiaomi India,India

In [49]:
#stored the dataframe into a csv file
df.to_csv(r'linkdin jobs.csv')